<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>First Flask App</title>
</head>
<body>
	<p>Hello, World!</p>
	<p>Var output: {{user_agent}}</p>

	<hr>
	<h3>Forms and Input</h3>
	<form>
		Input your name:<br>
		<input type="text" name="myname"><br>
		<input type="submit" value="Submit">
		 
	</form>
</body>
</html>